# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
settings.py
.DS_Store
__pycache__
migrations
db.sqlite3
media
rateMyCourse/static/ratemycourse/images/upload/user/*
!rateMyCourse/static/ratemycourse/images/upload/user/user.png
Server.md