.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-vertical {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
}