{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}公课网{% endblock %}</title>
  <link REL="SHORTCUT ICON" HREF="/static/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/ratemycourse/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/static/ratemycourse/css/allPages.css" type="text/css">
  <link rel="stylesheet" href="/static/ratemycourse/css/index.css" type="text/css">
  <link rel="stylesheet" href="/static/ratemycourse/css/userInfo.css" type="text/css">
  <link rel="stylesheet" href="/static/ratemycourse/css/coursePage.css" type="text/css">
</head>
<body>
  <div style="padding-top:56px">
    <!-- Space used to modify navbar with fixed-top style-->
  </div>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container" id="navbarContainer">
      <a class="navbar-brand" href="/">💙公客💙</a>
      <a class="navbar-brand" href="/rank/">☝️Rank☝️</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
       data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end"
      id="navbar2SupportedContent">
        <!--<ul class="navbar-nav">-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link mr-1" href="javascript:void(0)" data-toggle="modal"-->
            <!--data-target="#contactModal" style="outline:none;">-->
              <!--<i class="fa d-inline fa-lg fa-envelope-o mr-1"></i> 联系我们</a>-->
          <!--</li>-->
        <!--</ul>-->
        <ul class="navbar-nav">
          {% if request.session.is_login %}
              <div class="dropdown" id="menuUser">
                <a class="btn text-white btn-primary" href="javascript:void(0)" data-toggle="dropdown" id="navUser">{{ request.session.username }}</a>
                <ul class="dropdown-menu" style="padding:17px;">
                  <li>
                  <a href="javascript:void(0)" id="buttonLogOut" class="dropdown-item btn btn-primary school" onclick="Func_signOut()">注销</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)" id="buttonUserInfo" class="dropdown-item btn btn-primary school" onclick="Func_toUserInfo()">个人信息</a>
                  </li>
                </ul>
              </div>
          {% else %}
              <div class="dropdown open" id="menuLogin">
                <a class="btn text-white btn-primary" href="javascript:void(0)"
                data-toggle="dropdown" id="navLogin" onclick="Func_getCaptcha()">
                <i class="fa d-inline fa-lg fa-user-circle-o mr-1"></i>登录</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="container px-3 py-2" style="width:260px;">
                    <form id="formLogin" novalidate method="POST" action="/signIn/">
                      <div class="form-group">
                         <input id="username" type="text" placeholder="用户名或邮箱"
                          class="form-control" name="username">
                         <div class="help-block with-errors"></div>
                      </div>
                      <div class="form-group">
                        <input id="password" type="password" placeholder="密码" class="form-control has-warning" name="password" required>
                        <small class="invalid-feedback">密码不能为空</small>
                      </div>
                      <div class="form-group" id="captchaImg1">
                      </div>
                      <div class="form-group">
                        <input id="captcha" type="text" placeholder="6位验证码，不区分大小写"
                         class="form-control" name="captcha">
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <input type="submit" id="btnLogin" class="btn btn-primary" value="登录">&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-md-6">
                            <form class="mt-2" action="ResetPWDTrigger" method="post">
                                <a href="javascript:void(0)" id="btnNewUser" data-toggle="collapse" data-target="#formResetPWD" class="">忘记密码？</a>
                            </form>
                        </div>
                      </div>
                      <form id="formResetPWD" class="form in collapse mt-2" style="height: auto;" novalidate>
                        <div class="form-group has-success">
                          <input type="email" id="inputResetEmail" name="inputEmail" placeholder="邮箱" class="form-control form-control-success" required>
                        </div>
                        <input type="submit" class="btn btn-primary" value="找回密码" onclick="Func_send_resetPWD_email()">
                      </form>
                    </form>
                  </div>
                </div>
              </div>
              <div class="dropdown open" id="menuRegister">
                <a class="btn text-white btn-primary" href="javascript:void(0)"
                data-toggle="dropdown" id="navRegister" onclick="Func_getCaptcha()">
                <i class="fa d-inline fa-lg fa-user-circle-o mr-1"></i>注册</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="container px-3 py-2" style="width:260px;">
                    <form id="formRegister" novalidate method="POST" action="/signUp/">
                      <div class="form-group has-success">
                        <input id="inputEmail" type="email" placeholder="Email" class="form-control form-control-success" name="inputEmail" required>
                      </div>
                      <div class="form-group">
                        <input id="inputUsername" name="inputUsername" type="text" placeholder="用户名" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <input id="inputPassword" type="password" placeholder="密码" class="form-control" name="inputPassword" required>
                      </div>
                      <div class="form-group">
                        <input id="inputVerify" name="inputVerify" type="password" placeholder="确认密码" class="form-control" required>
                      </div>
                      <div class="form-group" id="captchaImg2">
                      </div>
                      <div class="form-group">
                        <input id="inputCaptcha" name="inputCaptcha" type="text" placeholder="6位验证码，不区分大小写" class="form-control" required>
                      </div>
                      <input type="submit" class="btn btn-primary" value="注册" onclick="/signUp/">
                    </form>
                  </div>
                </div>
              </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <script src="/static/ratemycourse/javascript/login.js"></script>
</body>
</html>