{% extends '../rateMyCourse/base.html' %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row w-100 my-1" style="background:#cccccc">
                    <div class="col-md-12 text-white">
                        <h1 class="display-3 mb-4 text-dark" id="courseName">{{course.name}}</h1>
                        <p class="lead mb-5 text-dark">{{course.school}}-&gt;{{course.department}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-2 column">
                <p class="center-vertical text-right">
                    <strong>{{aspect1}}</strong>
                </p>
            </div>
            <div class="col-md-6 column">
                <div class="btn-group text-dark my-1">
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B11"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B12"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B13"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B14"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B15"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                </div>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <p class="center-vertical text-right">
                    <strong>{{aspect2}}</strong>
                </p>
            </div>
            <div class="col-md-6 column">
                <div class="btn-group text-dark my-1">
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B11"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B12"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B13"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B14"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B15"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                </div>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <p class="center-vertical text-right">
                    <strong>{{aspect3}}</strong>
                </p>
            </div>
            <div class="col-md-6 column">
                <div class="btn-group text-dark my-1">
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B11"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B12"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B13"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B14"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B15"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                </div>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <p class="center-vertical text-right">
                    <strong>{{aspect4}}</strong>
                </p>
            </div>
            <div class="col-md-6 column">
                <div class="btn-group text-dark my-1">
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B11"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B12"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B13"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B14"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                    <a class="fa fa-star-o text-dark btn btn-sm" aria-hidden="true" style="font-size:32px" id="B15"
                        onclick="chooseScore(this.id)" href="javascript:void(0)"></a>
                </div>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <p class="text-right">
                    <strong>课程评价：</strong>
                </p>
            </div>
            <div class="col-md-6 column">
                <p class=" center-vertical text-left">
                    <textarea class="form-control" rows="3" name=textarea></textarea>
                </p>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <p class="text-center">
                    <button type="button" class="btn btn-default btn-success disabled">确认</button>
                </p>
            </div>
        </div>
    </div>
	
{% endblock %}