<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="../../static/ratemycourse/css/allPages.css" type="text/css">
    <link rel="stylesheet" href="../../static/ratemycourse/css/index.css" type="text/css">
</head>

<body>
    <div style="padding-top:70px">
        <!-- Space used to modify navbar with fixed-top style-->
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container" id="navbarContainer">
            <a class="navbar-brand" href="/">公客</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="row clearfix">
                <div class="col-md-2 column">
                </div>
                <div class="col-md-10 column">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input id="searchboxCourse" class="form-control input-lg" type="text" placeholder="请输入课程名"
                            autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <div class="dropdown open" id="menuLogin">
                        <a class="btn text-white btn-primary" href="javascript:void(0)" data-toggle="dropdown"
                            id="navLogin">
                            <i class="fa d-inline fa-lg fa-user-circle-o mr-1"></i>
                            登录/注册</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="container px-3 py-2" style="width:260px;">
                                <form id="formLogin" novalidate method="POST" action="/signIn/">
                                    <label>登录</label>
                                    <div class="form-group">
                                        <input id="username" type="text" placeholder="用户名或邮箱" class="form-control"
                                            name="username">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input id="password" type="password" placeholder="密码"
                                            class="form-control has-warning" name="password" required>
                                        <small class="invalid-feedback">
                                            密码不能为空
                                        </small>
                                    </div>
                                    <input type="submit" id="btnLogin" class="btn btn-primary" value="登录">
                                </form>
                                <div class="dropdown-divider"></div>
                                <form class="mt-2" action="signUpTrigger" method="post">
                                    <a href="javascript:void(0)" id="btnNewUser" data-toggle="collapse"
                                        data-target="#formRegister" class="">新用户注册</a>
                                </form>
                                <form id="formRegister" class="form in collapse mt-2" style="height: auto;" novalidate>
                                    <div class="form-group has-success">
                                        <input id="inputEmail" type="email" placeholder="Email"
                                            class="form-control form-control-success" name="mail" required>
                                    </div>
                                    <div class="form-group">
                                        <input id="inputUsername" name="username" type="text" placeholder="用户名"
                                            pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6"
                                            title="Choose a username" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <input id="inputPassword" type="password" placeholder="密码" class="form-control"
                                            name="password" required>
                                    </div>
                                    <div class="form-group">
                                        <input id="inputVerify" name="verify" type="password" placeholder="确认密码"
                                            class="form-control" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="注册">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" id="menuUser">
                        <a class="btn text-white btn-primary" href="javascript:void(0)" data-toggle="dropdown"
                            id="navUser"></a>
                        <div class="dropdown-menu" style="padding:17px;">
                            <a href="javascript:void(0)" id="buttonLogOut" class="dropdown-item btn btn-primary school"
                                onclick="Func_signOut()">注销</a>
                            <a href="javascript:void(0)" id="buttonUserInfo"
                                class="dropdown-item btn btn-primary school" onclick="Func_toUserInfo()">个人信息</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="text-center text-dark">
                    <h3 class="text-center">{{course_name}}</h3>
                </div>
                <br>
                <br>
                <table style="width:100%; margin:auto">
                    <tbody>
                        <tr>
                            <td style="width:33%">
                                <p class="text-dark text-center">学分</p>
                            </td>
                            <td style="width:33%">
                                <p class="text-dark text-center">开课专业</p>
                            </td>
                            <td style="width:33%">
                                <p class="text-dark text-center">课程类别</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-dark text-center" style="margin-top:8px">{{course_credit}}</p>
                            </td>
                            <td>
                                <p class="text-dark text-center" style="margin-top:8px">{{course_profession}}</p>
                            </td>
                            <td>
                                <p class="text-dark text-center" style="margin-top:8px">{{course_type}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p class="text-center">
                    <a type="button" class="btn btn-default btn-primary" id="toComment" href="rate">去评价</a>
                </p>
            </div>

            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <p class="text-right center-vertical">
                            <strong>授课老师:</strong>
                        </p>
                    </div>
                    <div class="col-md-8 column pre-scrollable" style="height: 220px;overflow: auto">
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                        <ul>
                            {{teacher}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width:95%;" role="progressbar"
                                     aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">9.5</div>
                            </div>
                        </ul>
                        <ul>
                            {{teacher}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width:25%;" role="progressbar"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2.5</div>
                            </div>
                        </ul>
                        <ul>
                            {{teacher}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width:80%;" role="progressbar"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">8.0</div>
                            </div>
                        </ul>
                        <ul>
                            {{teacher}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width:40%;" role="progressbar"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">4.0</div>
                            </div>
                        </ul>
                        <ul>
                            {{teacher}}
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" style="width:25%;" role="progressbar"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2.5</div>
                            </div>
                        </ul>
                        <ul></ul>
                        <ul></ul>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <strong>课程评价</strong>
            </div>
            <div class="col-md-10 column">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-light">回复时间</button>
                    <button type="button" class="btn btn-default btn-light">点赞个数</button>
                </div>
            </div>
            <div class="col-md-6 column">
            </div>
        </div>
    </div>
    <br>

    <!--<div class="container">-->
        <!--<div class="row clearfix">-->
            <!--<div class="col-md-12 column">-->
                <!--<ul class="list-group" id="rates">-->
                    <!--<li class="list-group-item">-->
                        <!--<img alt="200x200" width="40" height="40" src="http://wx2.sinaimg.cn/large/0076t302ly1fylgfkon55j30e80e8ab5.jpg" class="img-rounded"/>-->
                        <!--<strong>{{nick}}</strong>-->

                        <!--<p>-->
                            <!--{{comment}}这门课让我学会了......-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li class="list-group-item">-->
                        <!--<img alt="200x200" width="40" height="40" src="http://wx2.sinaimg.cn/large/0076t302ly1fylgfkon55j30e80e8ab5.jpg" class="img-rounded"/>-->
                        <!--我的昵称-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container">
        <ul class="list-group">

            <li class="list-group-item">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-1 column">
                            <img alt="40x40" width="40" height="40" src="http://wx2.sinaimg.cn/large/0076t302ly1fylgfkon55j30e80e8ab5.jpg" class="img-rounded"/>
                            <p><strong>药水哥1234</strong></p>
                        </div>
                        <div class="col-md-7 column">
                            <p class="center-vertical">
                                {{comment}}我也是李萍老师的粉丝，老师上课不拘泥于课本，从古希腊一直洋洋洒洒讲到文革，短短几节课当然不可能所有内容都讲地非常详细，但是老师对每个历史时期的总体性的特征都有较详细的讲述与分析，也会举一些特定的事件或人物加以补充与论证，对很多内容都有自己的深刻见解，也很鼓励我们自己思考问题，而不是一味地照搬书本的语句，这点也体现在考试与课堂作业中，可以说李萍老师的课是目前为止我上过的最有一种老师与同学相互沟通并允许有自己不同见解的感觉的课堂，所以我很推荐。至于打分，只要你有自己深刻合理并能论证的见解而不是照着书本一味地抄，我觉得是不会差的。
                            </p>
                        </div>
                        <div class="col-md-4 column">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            2018-2-22
                        </div>
                        <div class="col-md-6 column"></div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-success">赞</button>
                            12
                        </div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-danger">踩</button>
                            1
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-1 column">
                            <img alt="40x40" width="40" height="40" src="http://wx2.sinaimg.cn/large/0076t302ly1fylgfkon55j30e80e8ab5.jpg" class="img-rounded"/>
                            <p><strong>{{nick}}</strong></p>
                        </div>
                        <div class="col-md-7 column">
                            <p class="center-vertical">
                                {{comment}}这门课让我学会了......
                            </p>
                        </div>
                        <div class="col-md-4 column">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            2018-2-22
                        </div>
                        <div class="col-md-6 column"></div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-success">赞</button>
                            12
                        </div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-danger">踩</button>
                            1
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-1 column">
                            <img alt="40x40" width="40" height="40" src="http://wx2.sinaimg.cn/large/0076t302ly1fylgfkon55j30e80e8ab5.jpg" class="img-rounded"/>
                            <p><strong>{{nick}}</strong></p>
                        </div>
                        <div class="col-md-7 column">
                            <p class="center-vertical">
                                {{comment}}这门课让我学会了......
                            </p>
                        </div>
                        <div class="col-md-4 column">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            2018-2-22
                        </div>
                        <div class="col-md-6 column"></div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-success">赞</button>
                            12
                        </div>
                        <div class="col-md-1 column">
                            <button type="button" class="btn btn-sm btn-danger">踩</button>
                            1
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <br>
    <br>


    <!--<div class="container">-->
        <!--<div class="row clearfix">-->
            <!--<div class="col-md-12 column">-->
                <!--<nav aria-label="Page navigation">-->
                    <!--<ul class="pagination justify-content-center">-->
                        <!--<li class="page-item disabled">-->
                            <!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
                        <!--</li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                        <!--<li class="page-item">-->
                            <!--<a class="page-link" href="#">Next</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/ratemycourse/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>
    <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
    <script src="../../static/ratemycourse/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
    <script src="../../static/ratemycourse/javascript/coursePage.js"></script>
</body>

</html>