<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/ratemycourse/css/allPages.css" type="text/css">
  <link rel="stylesheet" href="../../static/ratemycourse/css/coursePage.css" type="text/css">
</head>
<body>
  <div style="padding-top:70px">
  <!-- Space used to modify navbar with fixed-top style-->
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">公客</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      <ul class="navbar-nav">
        <li>
          <form class="form-inline m-0" action="/search">
            <input class="form-control input-lg" type="text" placeholder="搜索学校/专业/课程" style="float:right" name="keywords"> </form>
        </li>
      </ul>
      <ul class="navbar-nav">
        <div class="dropdown open" id="menuLogin">
          <a class="btn text-white btn-primary" href="javascript:void(0)"
          data-toggle="dropdown" id="navLogin"><i class="fa d-inline fa-lg fa-user-circle-o mr-1"></i> 登录/注册</a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="container px-3 py-2" style="width:260px;">
              <form id="formLogin" novalidate method="POST" action="/signIn/">
                <label>登录</label>
                <div class="form-group">
                   <input id="username" type="text" placeholder="用户名"
                    class="form-control" name="username">
                   <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input id="password" type="password" placeholder="密码" class="form-control has-warning" name="password" required>
                  <small class="invalid-feedback">
                    密码不能为空
                  </small>
                </div>
                <input type="submit" id="btnLogin" class="btn btn-primary" value="登录">
               </form>
              <div class="dropdown-divider"></div>
              <form class="mt-2" action="signUpTrigger" method="post">
                <a href="javascript:void(0)" id="btnNewUser" data-toggle="collapse" data-target="#formRegister" class="">新用户注册</a>
              </form>
              <form id="formRegister" class="form in collapse mt-2" style="height: auto;" novalidate>
                <div class="form-group has-success">
                  <input id="inputEmail" name="inputEmail" type="email" placeholder="Email" class="form-control form-control-success" name="email" required>
                </div>
                <div class="form-group">
                  <input id="inputUsername" name="inputUsername" type="text" placeholder="用户名"
                  pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Choose a username" class="form-control" required>
                </div>
                <div class="form-group">
                  <input id="inputPassword" name="inputPassword" type="password" placeholder="密码" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                  <input id="inputVerify" name="inputVerify" type="password" placeholder="确认密码" class="form-control" required>
                </div>
                <input type="submit" class="btn btn-primary" value="注册"> </form>
            </div>
          </div>
        </div>
        <div class="dropdown" id="menuUser">
          <a class="btn text-white btn-primary" href="javascript:void(0)" data-toggle="dropdown" id="navUser"></a>
          <div class="dropdown-menu" style="padding:17px;">
            <a href="javascript:void(0)" id="buttonLogOut" class="dropdown-item btn btn-primary school" onclick="Func_signOut()">注销</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>

  <div class="py-5">
    <div class="container py-5">
      <div class="text-center text-dark">
        <h1 class="lead display-4">{{course_name}}</h1>
      </div>
      <div style="width:100%; margin-top:86px">
        <table style="width:100%; margin:auto">
          <tbody>
            <tr>
              <td style="width:33%">
                <p class="text-dark text-center">学分</p>
              </td>
              <td style="width:33%">
                <p class="text-dark text-center">开课专业</p>
              </td>
              <td style="width:33%">
                <p class="text-dark text-center">课程类别</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="text-dark text-center" style="margin-top:8px">{{course_credit}}</p>
              </td>
              <td>
                <p class="text-dark text-center" style="margin-top:8px">{{course_profession}}</p>
              </td>
              <td>
                <p class="text-dark text-center" style="margin-top:8px">{{course_type}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-5">
    <div class="row" style="width:100%;">
      <div style="width:76%">
          <div class="row show-grid" style="width:100%;margin-left:16px">
              <div class="col-md-8"><h3 class="text-dark"> 总分：{{course_scores}}</h3></div>
              <div class="col-md-4" ><a class="btn btn-lg btn-default" id="toComment" href="rate">撰写评价</a></div>
        </div>
        <table style="width:80%; margin-top:16px; margin-left:32px">
          <tbody>
            <tr>
              <td>
                <p>{{detail1}}</p>
              </td>
              <td>
                <p>{{detail2}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>{{detail3}}</p>
              </td>
              <td>
                <p>{{detail4}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" style="border-left:1px #e4e4e4 solid; width:23%;">
        <div class="text-dark text-center" style="margin-top:54px">
          <a href="{{course_website}}">
            <p class="text-dark">课程网站</p>
          </a>
          <a href="{{profession_website}}">
            <p style="margin-top:32px;" class="text-dark">学院官网</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container py-5">
    <div id="commentDiv" style="margin-left:32px"></div>
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/ratemycourse/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
  <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>
  <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
  <script src="../../static/ratemycourse/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
  <script src="../../static/ratemycourse/javascript/coursePage.js"></script>
</body>

</html>
