{% extends '../rateMyCourse/base.html' %}
{% block content %}
  <div class="py-5 text-center opaque-overlay" style="background-image: url('../../static/ratemycourse/images/indexPageBackground1.png');">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-3 mb-4">公客</h1>
          <p class="lead mb-5">为大学选课排忧解难</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-university" style="font-size:93pt"></i></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown open">
                <a class="btn btn-light btn-lg dropdown-toggle my-1" href="." data-toggle="dropdown" id="buttonSelectSchool">选择学校</a>
                <div class="dropdown-menu" id="schoolList">
                  <!--Action needed-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-paint-brush" style="font-size:93pt"></i></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group">
                <a class="btn btn-light btn-lg dropdown-toggle disabled my-1" data-toggle="dropdown" id="buttonSelectDepartment" href="javascript:void(0)">选择专业</a>
                <div class="dropdown-menu scrollable-menu" id="departmentList" role="menu">
                  <!--Added by index.js-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-search" style="font-size:93pt;"></i> </div>
          </div>
          <!--img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg"-->
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown open">
                <a class="btn btn-light btn-lg my-1" href="javascript:void(0)" data-toggle="dropdown" id="buttonSearchCourse">搜索课程</a>
                <div class="dropdown-menu">
                  <div class="container" style="width:400px">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                      </span>
                      <input id="searchboxCourse" class="form-control input-lg"
                      type="text" placeholder="请输入课程名" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-white bg-secondary">
      <div class="container">
        <div class="row">
          <div class="p-4 col-md-6">
            <h2 class="mb-4">StupidSE
              <br> </h2>
            <p class="text-white">七人小型开发团队</p>
          </div>
          <div class="p-4 col-md-6">
            <h2 class="mb-4">关于我们</h2>
            <ul class="list-unstyled">
              <a href="https://github.com/rRetr0Git/rateMyCourse" class="text-white">Github主页</a>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center text-white">© Copyright 2019 StupidSE - All rights reserved. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modals-->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> 公客们 </h5>
          <a class="close" href="javascript:void(0)" data-dismiss="modal" aria-label="Close" style="outline:none;">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
          <div class="row">
            <div class="col-md-12">
              <div class="modal-body text-center">
                <img src="../../static/ratemycourse/images/conquerorsQR.png"/>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
