{% extends '../rateMyCourse/base.html' %}
{% block title %}个人信息 - {{ block.super }}{% endblock %}
{% block content %}

<br>
<br>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-6 column">
            <p class="text-center">
                <strong>姓名：</strong><strong id="name">王静远</strong>
            </p>
            <p class="text-center">
                <img alt="200x200" width="200" height="200" src="http://scse.buaa.edu.cn/__local/4/23/FA/84DC2E71459C972EFD485718A7A_B9139BEE_36800.jpg" class="img-rounded"/>
            </p>
            <br>
            <p class="text-center" id="departmentName">
                <!--<strong>学院：{{departmentName}}</strong>-->
                <strong>学院：计算机学院</strong>
            </p>
            <p class="text-center" id="personalSite">
                <strong>个人主页：<a href="http://scse.buaa.edu.cn/info/1079/2729.htm">http://scse.buaa.edu.cn/info/1079/2729.htm</a></strong>
            </p>

            <p class="text-center" id="isTeacher">
                <strong>是否为老师：{{isTeacher}}</strong>
            </p>
        </div>
        <div class="col-md-6 column">
            <p class="text-center">
                <strong>授课课程</strong>
            </p>
            <div style="width: 650px;">
                <div class="table-head">
                    <table>
                        <colgroup>
                            <col style="width: 330px;" />
                            <col style="width: 320px; " />
                        </colgroup>
                        <thead>
                        <tr><th>课程</th><th>评分</th></tr>
                        </thead>
                    </table>
                </div>
                <div class="table-body">
                    <table>
                        <colgroup>
                            <col style="width: 330px;" />
                            <col style="width: 320px; " />
                        </colgroup>
                        <tbody>
                        <!--{% for item in commentList %}-->
                        <tr>
                            <td><a href="http://114.116.51.151/course/23062f0b-b1ea-45cc-965f-1e95eca422e6/">数据挖掘导论</a></td>
                            <td>4.9</td>
                        </tr>
                        <!--{% endfor %}-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/ratemycourse/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
<script src="/static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>-->
<script src="/static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
<script src="/static/ratemycourse/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
<script src="/static/ratemycourse/javascript/userInfo.js"></script>
{% endblock %}