{% extends '../rateMyCourse/base.html' %}
{% block title %}个人信息 - {{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
        </div>
        <div class="col-md-6 column">

            <!--修改信息模态框-->
            <div class="modal fade" id="modalInfo-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                修改个人信息
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label for="school">请选择所在学校</label>
                                    <br>
                                    <select class="btn btn-light btn-lg dropdown-toggle disabled my-1"  title="请选择所在学校" data-live-search="true" id="school" data-size="10">
                                        <option>暂无</option>
                                        {% if schoolName == "北京航空航天大学" %}
                                            <option selected>北京航空航天大学</option>
                                        {% else %}
                                            <option>北京航空航天大学</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="department">请选择所在学院</label>
                                    <br>
                                    <select class="btn btn-light btn-lg dropdown-toggle disabled my-1"  title="请选择所在学院" data-live-search="true" id="department" data-size="10">
                                        <option>暂无</option>
                                        {% for item in departments %}
                                            {% if departmentName == item %}
                                                <option selected>{{item}}</option>
                                            {% else %}
                                                <option>{{item}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label for="inputfile">上传头像</label><br>-->
                                    <!--<input type="file" id="inputfile">-->
                                <!--</div>-->
                                <!--<div class="checkbox">-->
                                <!--<label>-->
                                <!--<input type="checkbox">确定修改-->
                                <!--</label>-->
                                <!--</div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> <button type="button" class="btn btn-primary" onclick=Func_saveUserInfo() data-dismiss="modal">保存</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--修改信息模态框-->
    <div class="modal fade" id="modalPicture-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myPictureLabel">
                        修改个人头像
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="file" id="inputfile">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> <button type="button" class="btn btn-primary" onclick=Func_saveUserPic() data-dismiss="modal">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-5 column">
            <p class="text-center">
                <strong>昵称：</strong><strong id="nickName">{{username}}</strong>
            </p>
            <p class="text-center column">
                <button class="btn btn-primary btn-lg col-md-5 column" data-toggle="modal" data-target="#modalPicture-container">
	            修改个人头像
                </button>
            </p>
            <p class="text-center">
                <img alt="200x200" width="200" height="200" src={{ MEDIA_URL }}{{ img }} class="img-rounded"/>
            </p>
            <br>
            <p class="text-center column">
                <button class="btn btn-primary btn-lg col-md-5 column" data-toggle="modal" data-target="#modalInfo-container">
	            修改个人信息
                </button>
            </p>
            <p class="text-center" id="schoolName">
                <strong>学校：{{schoolName}}</strong>
            </p>
            <p class="text-center" id="departmentName">
                <strong>学院：{{departmentName}}</strong>
            </p>
            <p class="text-center" id="isTeacher">
                <strong>是否为老师：{{isTeacher}}</strong>
            </p>
        </div>
        <div class="col-md-7 column">
            <p class="text-center">
                <strong>近期点评</strong>
            </p>
            <div style="width: 650px;">
            <div class="table-head">
            <table>
                <colgroup>
                    <col style="width: 70px;" />
                    <col style="width: 160px; " />
                    <col style="width: 70px;" />
                    <col style="width: 80px;" />
                    <col style="width: 60px;" />
                </colgroup>
                <thead>
                    <tr><th>时间</th><th>课程</th><th>教师</th><th>评分</th><th>评论详情</th></tr>
                </thead>
            </table>
            </div>
            <div class="table-body">
            <table>
                <colgroup>
                    <col style="width: 70px;" />
                    <col style="width: 160px; text-overflow: ellipsis;" />
                    <col style="width: 70px;  text-overflow: ellipsis;" />
                    <col style="width: 80px;" />
                    <col style="width: 60px;" />
                </colgroup>
                <tbody>
                    {% for item in commentList %}
                        <tr><td>{{item.time}}</td><td>{{item.course}}</td><td>{{item.teacher}}</td><td>{{item.rate}}</td><td><a href="/course/{{item.courseTeacher}}">详情</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/ratemycourse/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
  <script src="/static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>-->
  <script src="/static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
  <script src="/static/ratemycourse/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
  <script src="/static/ratemycourse/javascript/userInfo.js"></script>
{% endblock %}